/* line 6, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }

/* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .error a {
    color: #8a1f11; }

/* line 7, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 38, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .notice a {
    color: #514721; }

/* line 9, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .success a {
    color: #264409; }

/* line 11, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.hide {
  display: none; }

/* line 13, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.highlight {
  background: yellow; }

/* line 15, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.added {
  background: #006600;
  color: white; }

/* line 17, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.removed {
  background: #990000;
  color: white; }

/* line 16, ../../../app/stylesheets/partials/_form.sass */
form label {
  font-weight: bold; }

/* line 18, ../../../app/stylesheets/partials/_form.sass */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }

/* line 21, ../../../app/stylesheets/partials/_form.sass */
legend {
  font-weight: bold;
  font-size: 1.2em; }

/* line 25, ../../../app/stylesheets/partials/_form.sass */
input.text, input.title, input[type=text], input[type=password] {
  border: 1px solid gray;
  margin: 0em 0;
  background-color: #fff;
  padding: 5px;
  font-size: 1.2em; }
/* line 31, ../../../app/stylesheets/partials/_form.sass */
input.title {
  font-size: 1.5em; }
/* line 33, ../../../app/stylesheets/partials/_form.sass */
input[type=checkbox], input.checkbox,
input[type=radio], input.radio {
  position: relative;
  top: 0em; }
/* line 37, ../../../app/stylesheets/partials/_form.sass */
input[type=submit] {
  margin: 10pt 10px;
  padding: 5px; }

/* line 40, ../../../app/stylesheets/partials/_form.sass */
textarea {
  margin: 0em 0;
  padding: 5px; }

/* line 43, ../../../app/stylesheets/partials/_form.sass */
select {
  margin: 0em 0;
  font-size: 1.2em; }

/* line 48, ../../../app/stylesheets/partials/_form.sass */
form .row {
  margin-bottom: 15px; }


/* line 61, ../../../app/stylesheets/partials/_form.sass */
fieldset {
  border: 1px solid #cccccc; }

/* line 63, ../../../app/stylesheets/partials/_form.sass */
input.text, input.title,
textarea,
select {
  border: 1px solid #bbbbbb; }
  /* line 67, ../../../app/stylesheets/partials/_form.sass */
  input.text:focus, input.title:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #666666; }

/* line 54, ../../../app/stylesheets/partials/_form.sass */
input.text, input.title {
  width: 150px; }

/* line 56, ../../../app/stylesheets/partials/_form.sass */
textarea {
  width: 390px;
  height: 50px; }

/* line 1, ../../../app/stylesheets/partials/_facebox.sass */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left; }
  /* line 8, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .b {
    background: url(/stylesheets/facebox/b.png); }
  /* line 11, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .tl {
    background: url(/stylesheets/facebox/tl.png); }
  /* line 14, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .tr {
    background: url(/stylesheets/facebox/tr.png); }
  /* line 17, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .bl {
    background: url(/stylesheets/facebox/bl.png); }
  /* line 20, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .br {
    background: url(/stylesheets/facebox/br.png); }
  /* line 23, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .popup {
    position: relative; }
  /* line 26, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox table {
    border-collapse: collapse; }
  /* line 29, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox td {
    border-bottom: 0;
    padding: 0; }
  /* line 33, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .body {
    padding: 10px 10px 30px 10px;
    background: #fff;
    width: 570px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.0em; }
    /* line 40, ../../../app/stylesheets/partials/_facebox.sass */
    #facebox .body .header {
      overflow: hidden; }
      /* line 42, ../../../app/stylesheets/partials/_facebox.sass */
      #facebox .body .header #title {
        float: left;
        font-weight: bold;
        font-size: 1.2em; }
      /* line 47, ../../../app/stylesheets/partials/_facebox.sass */
      #facebox .body .header #close_button {
        float: right; }
    /* line 50, ../../../app/stylesheets/partials/_facebox.sass */
    #facebox .body #topics {
      margin-left: 100px;
      width: 350px; }
      /* line 54, ../../../app/stylesheets/partials/_facebox.sass */
      #facebox .body #topics th {
        padding-bottom: 15px; }
      /* line 58, ../../../app/stylesheets/partials/_facebox.sass */
      #facebox .body #topics .topic input {
        margin-left: 30px;
        font-size: 14pt; }
  /* line 63, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .loading, #facebox .image {
    text-align: center; }
  /* line 66, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox img {
    border: 0;
    margin: 0; }
  /* line 70, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .header {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: right; }
  /* line 77, ../../../app/stylesheets/partials/_facebox.sass */
  #facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0; }

/* line 84, ../../../app/stylesheets/partials/_facebox.sass */
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

/* line 92, ../../../app/stylesheets/partials/_facebox.sass */
.facebox_hide {
  z-index: -100; }

/* line 96, ../../../app/stylesheets/partials/_facebox.sass */
.facebox_overlayBG {
  background-color: #000;
  z-index: 99; }

/* line 101, ../../../app/stylesheets/partials/_facebox.sass */
* html #facebox_overlay {
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }

/* line 1, ../../../app/stylesheets/partials/_superfish.sass */
.sf-menu {
  margin: 0 0 1em 0;
  padding: 0 0 .25em 25%;
  list-style: none;
  text-align: left;
  min-width: 700px; }
  /* line 8, ../../../app/stylesheets/partials/_superfish.sass */
  .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 13, ../../../app/stylesheets/partials/_superfish.sass */
  .sf-menu ul {
    position: absolute;
    top: -999em;
    width: 10em; }
    /* line 18, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu ul li {
      width: 100%; }
    /* line 22, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu ul li .text {
      padding: .50em 0 .50em .50em; }
  /* line 25, ../../../app/stylesheets/partials/_superfish.sass */
  .sf-menu a {
    display: block;
    position: relative;
    color: black;
    margin-left: 13px;
    text-decoration: none;
    font-size: 12pt;
    padding: .25em; }
    /* line 34, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu a:hover {
      color: black;
      text-decoration: underline; }
    /* line 38, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
      outline: 0; }
    /* line 41, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu a.sf-with-ul {
      padding-right: 2.25em;
      min-width: 1px; }
  /* line 45, ../../../app/stylesheets/partials/_superfish.sass */
  .sf-menu li {
    float: left;
    position: relative; }
    /* line 50, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu li:hover {
      visibility: inherit; }
    /* line 53, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
      left: 1.5em;
      top: 1.65em;
      z-index: 99; }
    /* line 58, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu li li {
      background: #939E6F;
      padding: .25em  0; }
      /* line 62, ../../../app/stylesheets/partials/_superfish.sass */
      .sf-menu li li li {
        background: #666633;
        padding: .25em 0; }
    /* line 66, ../../../app/stylesheets/partials/_superfish.sass */
    .sf-menu li:hover, .sf-menu li.sfHover {
      outline: 0; }

/* line 71, ../../../app/stylesheets/partials/_superfish.sass */
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
  top: -999em; }
/* line 75, ../../../app/stylesheets/partials/_superfish.sass */
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 10em;
  top: 0; }
/* line 79, ../../../app/stylesheets/partials/_superfish.sass */
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
  top: -999em; }
/* line 83, ../../../app/stylesheets/partials/_superfish.sass */
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left: 10em;
  top: 0; }

/* line 88, ../../../app/stylesheets/partials/_superfish.sass */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url('/stylesheets/superfish/arrows-ffffff.png') no-repeat -10px -100px; }

/* line 101, ../../../app/stylesheets/partials/_superfish.sass */
a > .sf-sub-indicator {
  top: .50em;
  background-position: 0 -100px; }
/* line 105, ../../../app/stylesheets/partials/_superfish.sass */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 110, ../../../app/stylesheets/partials/_superfish.sass */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 115, ../../../app/stylesheets/partials/_superfish.sass */
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0; }
/* line 119, ../../../app/stylesheets/partials/_superfish.sass */
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0; }
/* line 122, ../../../app/stylesheets/partials/_superfish.sass */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0; }
/* line 126, ../../../app/stylesheets/partials/_superfish.sass */
.sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; }

/* line 130, ../../../app/stylesheets/partials/_superfish.sass */
.sf-shadow ul {
  background: url('/stylesheets/superfish/shadow.png') no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px; }
  /* line 138, ../../../app/stylesheets/partials/_superfish.sass */
  .sf-shadow ul.sf-shadow-off {
    background: transparent; }

/* line 1, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button {
  outline: 0;
  margin: 0 4px 0 0;
  padding: .4em 1em;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  zoom: 1; }
  /* line 11, ../../../app/stylesheets/partials/_buttons.sass */
  .fg-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px; }

/* line 19, ../../../app/stylesheets/partials/_buttons.sass */
button.fg-button {
  width: auto;
  overflow: visible; }

/* line 24, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button-icon-left {
  padding-left: 2.1em; }

/* line 28, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button-icon-right {
  padding-right: 2.1em; }

/* line 32, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button-icon-left .ui-icon {
  right: auto;
  left: .2em;
  margin-left: 0; }

/* line 38, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0; }

/* line 44, ../../../app/stylesheets/partials/_buttons.sass */
.fg-button-icon-solo {
  display: block;
  width: 8px;
  text-indent: -9999px; }

/* line 50, ../../../app/stylesheets/partials/_buttons.sass */
.fg-buttonset {
  float: left; }
  /* line 53, ../../../app/stylesheets/partials/_buttons.sass */
  .fg-buttonset .fg-button {
    float: left; }

/* line 57, ../../../app/stylesheets/partials/_buttons.sass */
.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button {
  margin-right: -1px; }

/* line 61, ../../../app/stylesheets/partials/_buttons.sass */
.fg-toolbar {
  padding: .5em;
  margin: 0; }
  /* line 65, ../../../app/stylesheets/partials/_buttons.sass */
  .fg-toolbar .fg-buttonset {
    margin-right: 1.5em;
    padding-left: 1px; }
  /* line 69, ../../../app/stylesheets/partials/_buttons.sass */
  .fg-toolbar .fg-button {
    font-size: 1em; }

/* line 1, ../../../app/stylesheets/partials/_jtip.sass */
#JT_close_left, #JT_close_right {
  font-size: 1.1em; }

/* line 5, ../../../app/stylesheets/partials/_jtip.sass */
#JT_copy p, #JT_copy ul {
  font-size: 1.1em; }

/* line 8, ../../../app/stylesheets/partials/_jtip.sass */
#contentPad {
  margin: 20px; }

/* line 11, ../../../app/stylesheets/partials/_jtip.sass */
#JT_arrow_left {
  background-image: url(/images/jtip/arrow_left.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 101;
  left: -12px;
  height: 23px;
  width: 10px;
  top: -3px; }

/* line 23, ../../../app/stylesheets/partials/_jtip.sass */
#JT_arrow_right {
  background-image: url(/images/jtip/arrow_right.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 101;
  height: 23px;
  width: 11px;
  top: -2px; }

/* line 33, ../../../app/stylesheets/partials/_jtip.sass */
#JT {
  position: absolute;
  z-index: 100;
  border: 2px solid #CCCCCC;
  background-color: #fff; }

/* line 39, ../../../app/stylesheets/partials/_jtip.sass */
#JT_copy {
  padding: 10px 10px 10px 10px;
  color: #333333; }

/* line 44, ../../../app/stylesheets/partials/_jtip.sass */
.JT_loader {
  background-image: url(/images/jtip/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 12px; }

/* line 52, ../../../app/stylesheets/partials/_jtip.sass */
#JT_close_left, #JT_close_right {
  background-color: #000000;
  color: white;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight: bold; }

/* line 66, ../../../app/stylesheets/partials/_jtip.sass */
#JT_copy img {
  padding: 1px;
  border: 1px solid #CCCCCC; }

/* line 71, ../../../app/stylesheets/partials/_jtip.sass */
.jTip {
  cursor: help; }

/* line 1, ../../../app/stylesheets/partials/_scrollable.sass */
div.scrollable {
  position: relative;
  overflow: hidden;
  width: 660px;
  height: 114px;
  padding: 10px 0;
  border: 1px outset #ccc;
  background-color: #efefef; }
  /* line 10, ../../../app/stylesheets/partials/_scrollable.sass */
  div.scrollable div.items {
    width: 20000em;
    position: absolute;
    clear: both;
    margin-left: 10px; }
    /* line 16, ../../../app/stylesheets/partials/_scrollable.sass */
    div.scrollable div.items div.item {
      float: left;
      text-align: center;
      width: 350px;
      padding: 25px 0px;
      font-size: 30px;
      font-family: 'bitstream vera sans';
      border: 1px outset #ccc;
      background-color: #ddd;
      margin-right: 20px;
      -moz-border-radius: 5px; }
      /* line 28, ../../../app/stylesheets/partials/_scrollable.sass */
      div.scrollable div.items div.item.active {
        border: 1px inset #ccc;
        background-color: #fff; }

/* line 164, ../../../app/stylesheets/partials/_base.sass */
table.fancy {
  border: solid 1px gray; }
  /* line 90, ../../../app/stylesheets/partials/_base.sass */
  table.fancy tr th {
    background-color: #CCCCCC;
    color: #black;
    font-weight: bolder;
    font-size: 1.2em;
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
    font-style: italic; }
  /* line 93, ../../../app/stylesheets/partials/_base.sass */
  table.fancy tr th, table.fancy tr td {
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    border-bottom: solid 1px #CCCCCC; }

/* line 167, ../../../app/stylesheets/partials/_base.sass */
.block {
  overflow: hidden; }

/* line 170, ../../../app/stylesheets/partials/_base.sass */
.hidden {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* line 178, ../../../app/stylesheets/partials/_base.sass */
.hide {
  display: none; }

/* line 181, ../../../app/stylesheets/partials/_base.sass */
.row {
  overflow: hidden; }

/* line 184, ../../../app/stylesheets/partials/_base.sass */
.float-left {
  display: inline;
  float: left; }

/* line 187, ../../../app/stylesheets/partials/_base.sass */
.float-right {
  display: inline;
  float: right; }

/* line 190, ../../../app/stylesheets/partials/_base.sass */
.float-center {
  margin: auto; }

/* line 193, ../../../app/stylesheets/partials/_base.sass */
.typewriter {
  font-family: Courier; }

/* line 196, ../../../app/stylesheets/partials/_base.sass */
.tooltip {
  padding: 10px;
  margin: 10px;
  width: 500px;
  background-color: white; }

/* line 202, ../../../app/stylesheets/partials/_base.sass */
.gray {
  color: gray; }

/* line 205, ../../../app/stylesheets/partials/_base.sass */
.red {
  color: #FF0000;
  font-weight: bold; }

/* line 209, ../../../app/stylesheets/partials/_base.sass */
.alt {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic; }

/* line 212, ../../../app/stylesheets/partials/_base.sass */
.line {
  height: 5px;
  border-bottom: 1px dotted gray;
  margin-bottom: 3px; }

/* line 216, ../../../app/stylesheets/partials/_base.sass */
.small {
  font-size: .95em; }

/* line 219, ../../../app/stylesheets/partials/_base.sass */
.smaller {
  font-size: .9em; }

/* line 222, ../../../app/stylesheets/partials/_base.sass */
.smallest {
  font-size: .85em; }

/* line 225, ../../../app/stylesheets/partials/_base.sass */
.labelOverlay {
  color: gray; }

/* line 228, ../../../app/stylesheets/partials/_base.sass */
.border-red {
  border: dotted 2px red; }

/* line 231, ../../../app/stylesheets/partials/_base.sass */
.middle {
  vertical-align: middle; }

/* line 234, ../../../app/stylesheets/partials/_base.sass */
.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .error a {
    color: #8a1f11; }

/* line 237, ../../../app/stylesheets/partials/_base.sass */
.message {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .message a {
    color: #264409; }

/* line 240, ../../../app/stylesheets/partials/_base.sass */
.spinner {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border: 1px solid #666;
  vertical-align: baseline;
  width: 36px;
  height: 36px;
  background: #333 url(/images/spinner.gif); }

/* line 248, ../../../app/stylesheets/partials/_base.sass */
caption, th, td {
  vertical-align: top; }

/* line 251, ../../../app/stylesheets/partials/_base.sass */
.no-margins {
  margin: 0px; }

/* line 254, ../../../app/stylesheets/partials/_base.sass */
.no-padding {
  padding: 0px; }

/* line 257, ../../../app/stylesheets/partials/_base.sass */
.details {
  margin: 15px 0px; }
  /* line 260, ../../../app/stylesheets/partials/_base.sass */
  .details .row {
    overflow: hidden; }
    /* line 263, ../../../app/stylesheets/partials/_base.sass */
    .details .row .label {
      display: inline;
      float: left;
      width: 175px; }
    /* line 267, ../../../app/stylesheets/partials/_base.sass */
    .details .row .value {
      text-align: left;
      font-weight: bold; }

/* line 4, ../../../app/stylesheets/partials/_facebox_content.sass */
#facebox .content #overlay-chart #init {
  margin: 15px;
  font-size: 1.30em; }
/* line 10, ../../../app/stylesheets/partials/_facebox_content.sass */
#facebox .content #tour_dialog .tour_ss {
  text-align: center;
  margin-top: 25px;
  padding: 15px; }
  /* line 15, ../../../app/stylesheets/partials/_facebox_content.sass */
  #facebox .content #tour_dialog .tour_ss img {
    width: 700px; }

/* line 1, ../../../app/stylesheets/partials/_pages.sass */
.logo {
  padding-top: 20px; }

/* line 4, ../../../app/stylesheets/partials/_pages.sass */
.copy {
  margin-top: 20px; }


/* line 9, ../../../app/stylesheets/partials/_pages.sass */
#footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: .9em; }

/* line 17, ../../../app/stylesheets/partials/_pages.sass */
.covers {
  overflow: hidden;
  margin: 50px auto;
  text-align: center;
  width: 400px; }
  /* line 23, ../../../app/stylesheets/partials/_pages.sass */
  .covers .cover {
    text-align: center;
    margin: 0px 20px;
    display: inline;
    float: left; }

/* line 5, ../../../app/stylesheets/partials/_application.sass */
html, body {
  margin: 0;
  padding: 0; }

/* line 9, ../../../app/stylesheets/partials/_application.sass */
body {
  font-size: 12px;
  margin: 0px auto; }
  /* line 13, ../../../app/stylesheets/partials/_application.sass */
  body #container {
    padding: 0px 10px;
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body #container {
      display: block; }
    /* line 17, ../../../app/stylesheets/partials/_application.sass */
    body #container #errorExplanation {
      padding: .8em;
      margin-bottom: 1em;
      border: 2px solid #dddddd;
      background: #fbe3e4;
      color: #8a1f11;
      border-color: #fbc2c4; }
      /* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
      body #container #errorExplanation a {
        color: #8a1f11; }
  /* line 20, ../../../app/stylesheets/partials/_application.sass */
  body #header {
    overflow: hidden; }
    /* line 23, ../../../app/stylesheets/partials/_application.sass */
    body #header #logo {
      padding: 5px;
      font-size: 1.5em;
      font-family: "VT-100", monospace;
      text-align: right; }
    /* line 29, ../../../app/stylesheets/partials/_application.sass */
    body #header #nav {
      padding-right: 10px;
      display: inline;
      float: right;
      font-size: .9em; }
      /* line 34, ../../../app/stylesheets/partials/_application.sass */
      body #header #nav a {
        padding-left: 5px; }
  /* line 37, ../../../app/stylesheets/partials/_application.sass */
  body #footer {
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: .9em; }

/* line 46, ../../../app/stylesheets/partials/_application.sass */
.info_box {
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  border: 1px dotted #333;
  background: #99CCCC; }
